body {
	background-image: linear-gradient(#f8cefc, #ffffff);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	background-image: linear-gradient(#f475ff, #fde1e1);
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

img {
	width: 3vw;
	padding: 0px;
	margin: 0;
	border-radius: 45px;
}

li {
	width: 10rem;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 15px;
	margin: 1.2rem;
	padding: 8px;
	font-family: "Bona Nova", serif;
	font-weight: 400;
	font-style: normal;
	transition: all 4s;
}

.letsTalk{
	width: 10rem;
	font-size: 2rem;
	text-align: center;
	border-radius: 15px;
	padding: 8px;
margin-bottom: 20px;
	font-family: "Bona Nova", serif;
    color: #000000;
    text-decoration: none;
	transition: all 1s;
}

li :hover {
	font-size: 1.3rem;
	border-radius: 15px;
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	width: 60vw;
	font-family: "Bona Nova", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

h2 {
	width: 75vw;
	font-family: "Bona Nova", serif;
	font-size: 2rem;
	padding: 25px;
	text-align: center;
	font-style: italic;
	font-weight: lighter;
}

h3 {
	width: 75vw;
	font-family: "Bona Nova", serif;
	font-weight: 400;
	font-size: 1.5rem;
	padding: 25px;
	text-align: center;
	font-style: italic;
	font-weight: lighter;
}

p {
    width: 80vw;
	font-family: "Bona Nova", serif;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
	padding: 25px;
    margin: 1.2rem;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUs img {
    width: 30vw;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#fff4f4, #e4aab6);
	border-radius: 8px;
}

footer h6 {
	color: #6e6570;
	font-size: 10px;
}

footer svg {
	width: 40px;
	height: 40px;
	margin: 10px;
	padding: 10px, 10px;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
}


@media screen and (min-width: 320px) and (max-width: 950px) {
    img {
        width: 10vw;
        padding: 0px;
        margin: 0;
    }


}