body {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	background-color: #c9ad61;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

svg {
	width: 35px;
	height: 35px;
	padding: 2px;
	font-family: "Heebo", serif;
	font-weight: 400;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
	transition: all 0.5s;
}

svg:hover {
	width: 45px;
	height: 45px;
	color: #0d0d0d;
}

img {
	width: 5.5vw;
	padding: 0px;
	margin: 0;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}



li {
	font-size: 1.2rem;
	text-align: center;
	margin: 1rem;
	padding: 8px;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-style: normal;
	transition: all 0.5s;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}

li:hover {
	background-color: #fff, #efd7bc;
	font-size: 1.4rem;
	color: #0d0d0d;
}


h1 {
	width: 65vw;
	font-family: "Heebo", serif;
	font-weight: 550;
	font-style: normal;
	font-size: 3em;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.gallery {
	width: 55vw;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	margin-top: 2.5rem;
	margin: 0 auto;
}

.card {
	width: 23vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #c9ad61;
	box-shadow: 0px 5.5px 15px rgb(49, 36, 10);
	margin: 0.5em;
	margin-bottom: 3.5rem;
}

.card img {
	width: 10rem;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 2%;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.481);
}

.cardbtn {
	font-size: 20px;
	text-decoration: none;
	color: #0d0d0d;
	text-align: center;
	margin: 8px;
	padding: 8px;
	font-family: "Heebo", serif;
	font-weight: 500;
	font-style: italic;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
	transition: all 0.5s;
}

.cardbtn:hover {
	background-color: #fff, #efd7bc;
	font-size: 22px;
	color: #0d0d0d;
}

.card a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card p {
	font-family: "Heebo", serif;
	font-weight: 350;
	font-size: 1rem;
	margin: 0 auto;
	text-align: center;
	font-style: italic;
}

.card h5 {

	font-family: "Heebo", serif;
	font-size: 1.3rem;
	font-weight: 400;
	text-align: center;
	font-style: italic;
	font-weight: lighter;
	font-weight: bolder;
	text-decoration: underline;
}

.footerSocial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footersvg {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 20px;
}

h6 {
	color: #989898;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-size: 1.2rem;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(49, 36, 10, 0.481);
}

footer a {
	color: #989898;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-size: 1.1rem;
	padding: 25px;
	margin-top: -40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.5s;
}

footer a:hover {
	color: #373737;
	font-size: 1.2rem;
}

.letsTalkfooter {
	font-size: 1rem;
	text-align: center;
	border-radius: 15px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 65px;
	padding: 8px;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-style: normal;
	transition: all 0.5s;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}

.letsTalkfooter:hover {
	background-color: #fff, #efd7bc;
	font-size: 1.2rem;
	color: #0d0d0d;
	border: 3px solid #f2f2f2;
	border-radius: 15px
}




@media screen and (min-width: 320px) and (max-width: 950px) {
img {
		width: 12vw;
		padding: 0px;
		margin: 10px;
	}


	svg {
		width: 25px;
		height: 25px;
		padding: 2px;
		margin: 10px;
	}

	svg:hover {
		width: 28px;
		height: 28px;
		color: #0d0d0d;
	}

    .gallery img {
		width: 20rem;
		margin-top: 40px;
		margin-bottom: 40px;
		border-radius: 2%;
        transition: all 1s;
    }


		h1 {
		font-size: 30px;
	}

	h2 {
		font-weight: 270;
		font-size: 22px;
	}

	h3 {
		font-size: 18px;
		font-weight: 250;
	}

    .gallery {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .gallery img {
width: 10rem;
    }


		.card {
		width: 85vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0.5rem;
	}

.cardbtn {
	font-size: 18px;

}

	.card h5 {
		font-size: 15px;
	}

	.card p {
		font-size: 13px;
		font-weight: 300;
	}

	h6 {
		font-size: 15px;
	}

	footer a {
		font-size: 15px;
	}

}