body {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	background-color: #c9ad61;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

svg {
	width: 35px;
	height: 35px;
	padding: 2px;
	font-family: "Heebo", serif;
	font-weight: 400;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
	transition: all 0.5s;
}

svg:hover {
	width: 45px;
	height: 45px;
	color: #0d0d0d;
}

img {
	width: 5.5vw;
	padding: 0px;
	margin: 0;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}

.card-img-top {
	width: 35rem;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 10%;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.481);
}

.efratHello {
	width: 95vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.efratHello img {
	width: 30rem;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.481);
}

li {
	font-size: 1.2rem;
	text-align: center;
	margin: 1rem;
	padding: 8px;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-style: normal;
	transition: all 0.5s;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}

li:hover {
	background-color: #fff, #efd7bc;
	font-size: 1.4rem;
	color: #0d0d0d;
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	width: 65vw;
	font-family: "Heebo", serif;
	font-weight: 550;
	font-style: normal;
	font-size: 3em;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}
h2 {
	width: 75vw;
	font-family: "Heebo", serif;
	font-weight: 250;
	font-size: 30px;
	padding: 25px;
	text-align: center;
	font-style: italic;
}

h3 {
	width: 75vw;
	font-family: "Heebo", serif;
	font-weight: 300;
	font-size: 25px;
	padding: 25px;
	text-align: center;
	font-style: italic;
	background-color: #c9ad61;
	box-shadow: 0px 0px 10px rgba(49, 36, 10, 0.481);
}

.gridCard {
	width: 60vw;
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(1, 1fr);
	justify-content: center;
	align-items: center;
	margin-top: 2.5rem;
	margin: 0 auto;
}


.card {
	width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #c9ad61;
	box-shadow: 0px 5.5px 15px rgb(49, 36, 10);
	margin: 0.5em;
	margin-bottom: 3.5rem;
}

.card img {
	width: 20rem;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 2%;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.481);
}

.cardbtn {
	font-size: 20px;
	text-decoration: none;
	color: #0d0d0d;
	text-align: center;
	margin: 8px;
	padding: 8px;
	font-family: "Heebo", serif;
	font-weight: 500;
	font-style: italic;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
	transition: all 0.5s;
}

.cardbtn:hover {
	background-color: #fff, #efd7bc;
	font-size: 22px;
	color: #0d0d0d;
}

.card a {
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card p {
	padding: 10px;
}

.card p {
	width: 55vw;
	font-family: "Heebo", serif;
	font-weight: 350;
	font-size: 1.3rem;
	margin: 0 auto;
	text-align: center;
	font-style: italic;
}

.card h5 {
	width: 75vw;
	font-family: "Heebo", serif;
	font-size: 1.8rem;
	font-weight: 400;
	padding: 20px;
	text-align: center;
	font-style: italic;
	font-weight: lighter;
	font-weight: bolder;
	text-decoration: underline;
}

.footerSocial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footersvg {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 20px;
}

h6 {
	color: #989898;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-size: 1.2rem;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(49, 36, 10, 0.481);
}

footer a {
	color: #989898;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-size: 1.1rem;
	padding: 25px;
	margin-top: -40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.5s;
}

footer a:hover {
	color: #373737;
	font-size: 1.2rem;
}

.letsTalk {
	font-size: 1rem;
	text-align: center;
	border-radius: 15px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 65px;
	padding: 8px;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-style: normal;
	transition: all 0.5s;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}

.letsTalk:hover {
	background-color: #fff, #efd7bc;
	font-size: 1.2rem;
	color: #0d0d0d;
	border: 3px solid #f2f2f2;
	border-radius: 15px;
}

@media screen and (min-width: 320px) and (max-width: 950px) {
	img {
		width: 12vw;
		padding: 0px;
		margin: 10px;
	}

	.card-img-top {
		width: 20rem;
		margin-top: 40px;
		margin-bottom: 40px;
		border-radius: 10%;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.481);
	}

	svg {
		width: 25px;
		height: 25px;
		padding: 2px;
	}

	h1 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.2rem;
		text-align: center;
		font-style: italic;
		font-weight: lighter;
		box-shadow: 0px 0px 10px rgba(49, 36, 10, 0.481);
	}

	.card img {
		width: 15rem;
		margin-top: 40px;
		margin-bottom: 40px;
		border-radius: 10%;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.481);
	}

	.gridCard {
		width: 60vw;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		align-items: center;
	}

	.card {
		width: 80vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		margin: 0.5rem;
	}

	.card a {
		width: 10em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card p {
		width: 70vw;
		font-size: 1rem;
		text-align: center;
		font-style: italic;
		font-weight: lighter;
		border-radius: 20px;
	}

	.card p {
		padding: 10px;
	}

	footer {
		color: #989898;
		font-family: "Heebo", serif;
		font-weight: 400;
		font-size: 1rem;
	}
}
