body {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	background-color: #c9ad61;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

svg {
	width: 35px;
	height: 35px;
	padding: 2px;
	font-family: "Heebo", serif;
	font-weight: 400;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
	transition: all 0.5s;
}

svg:hover {
	width: 45px;
	height: 45px;
	color: #0d0d0d;
}

img {
	width: 5.5vw;
	padding: 0px;
	margin: 0;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}
li {
	font-size: 1.2rem;
	text-align: center;
	margin: 1rem;
	padding: 8px;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-style: normal;
	transition: all 0.5s;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}

.submit {
	font-size: 20px;
	text-decoration: none;
	background-color: #c9ad61;
	color: #0d0d0d;
	text-align: center;
	margin: 8px;
	margin-bottom: 25px;
	padding: 8px;
	border: none;
	font-family: "Heebo", serif;
	font-weight: 500;
	font-style: italic;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
	transition: all 0.5s;
}

.submit:hover {
	background-color: #fff, #efd7bc;
	font-size: 22px;
	color: #0d0d0d;
}

li:hover {
	background-color: #fff, #efd7bc;
	font-size: 1.4rem;
	color: #0d0d0d;
}

h1 {
	width: 70vw;
	margin-bottom: 25px;
	margin-top: 25px;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-size: 30px;
	padding: 25px;
	text-align: center;
}

.firstValid,
textarea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(49, 36, 10, 0.481);
}

label {
	width: 300px;
	font-family: "Heebo", serif;
	font-weight: 300;
	font-size: 25px;
	padding: 25px;
	text-align: center;
	font-style: italic;
}

input,
textarea {
	border: none;
	font-family: "Heebo", serif;
	font-weight: 300;
	padding: 10px;
	text-align: center;
	font-style: italic;
	font-weight: lighter;
	box-shadow: 0px 0px 10px rgba(49, 36, 10, 0.481);
}

textarea {
	width: 40vw;
	height: 15vh;
	margin: 0 auto;
}

.footerSocial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footersvg {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 20px;
}

h6 {
	color: #989898;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-size: 1.2rem;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(49, 36, 10, 0.481);
}

footer a {
	color: #989898;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-size: 1.1rem;
	padding: 25px;
	margin-top: -40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.5s;
}

footer a:hover {
	color: #373737;
	font-size: 1.2rem;
}

.letsTalkfooter {
	font-size: 1rem;
	text-align: center;
	border-radius: 15px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 65px;
	padding: 8px;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-style: normal;
	transition: all 0.5s;
	box-shadow: 0px 10px 10px rgba(49, 36, 10, 0.481);
}

.letsTalkfooter:hover {
	background-color: #fff, #efd7bc;
	font-size: 1.2rem;
	color: #0d0d0d;
	border: 3px solid #f2f2f2;
	border-radius: 15px;
}

@media screen and (min-width: 320px) and (max-width: 950px) {
	img {
		width: 12vw;
		padding: 0px;
		margin: 10px;
	}

	svg {
		width: 25px;
		height: 25px;
		padding: 2px;
		margin: 10px;
	}

	svg:hover {
		width: 28px;
		height: 28px;
		color: #0d0d0d;
	}

	h1 {
		font-size: 20px;
	}


	.firstValid,
	textarea {
		width: 85vw;
		display:flexbox;
		flex-direction: column;
		justify-content: start;
		align-items: end;
		margin: 0 auto;
	}

	label {
		font-size: 15px;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
	}

	input,
	textarea {
		width: 60vw;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	textarea {
		width: 60vw;
	}

	h6 {
		font-size: 15px;
	}

	footer a {
		font-size: 15px;
	}
}
